USE [master]
GO
/****** Object:  Database [DemoAPI]    Script Date: 1/12/2021 10:19:32 PM ******/
CREATE DATABASE [DemoAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DemoAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DemoAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoAPI]
GO
USE [DemoAPI]
GO
/****** Object:  Table [dbo].[ContactPersons]    Script Date: 1/12/2021 10:19:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactPersons](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[ContactNo] [varchar](15) NULL,
	[Address] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ContactPersons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/12/2021 10:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Description] [varchar](200) NULL,
	[ProductTypeID] [int] NULL,
	[ContactPersonID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[LastUpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 1/12/2021 10:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContactPersons] ON 

INSERT [dbo].[ContactPersons] ([ID], [Name], [ContactNo], [Address], [CreatedOn], [LastUpdatedOn], [IsDeleted]) VALUES (1, N'Abc Name', N'123456', N'Abc Address', CAST(N'2021-01-12T18:03:33.000' AS DateTime), CAST(N'2021-01-12T18:03:33.000' AS DateTime), 0)
INSERT [dbo].[ContactPersons] ([ID], [Name], [ContactNo], [Address], [CreatedOn], [LastUpdatedOn], [IsDeleted]) VALUES (2, N'XYZ Name', N'789012', N'XYZ Address', CAST(N'2021-01-12T18:03:33.000' AS DateTime), CAST(N'2021-01-12T18:03:33.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ContactPersons] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Title], [Description], [ProductTypeID], [ContactPersonID], [CreatedOn], [CreatedBy], [IsDeleted], [LastUpdatedOn]) VALUES (5, N'Test Solution', N'test soltuion ', 2, 2, CAST(N'2021-01-12T19:03:18.940' AS DateTime), NULL, 0, CAST(N'2021-01-12T21:20:59.597' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([ID], [Title], [CreatedOn], [LastUpdatedOn], [IsDeleted]) VALUES (1, N'Hardware', CAST(N'2021-01-12T18:02:56.000' AS DateTime), CAST(N'2021-01-12T18:02:56.000' AS DateTime), 0)
INSERT [dbo].[ProductTypes] ([ID], [Title], [CreatedOn], [LastUpdatedOn], [IsDeleted]) VALUES (2, N'Software', CAST(N'2021-01-12T18:02:56.000' AS DateTime), CAST(N'2021-01-12T18:02:56.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ContactPersons] FOREIGN KEY([ContactPersonID])
REFERENCES [dbo].[ContactPersons] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ContactPersons]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductTypes] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductTypes] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductTypes]
GO
USE [master]
GO
